<mat-card>
<form [formGroup] = "addStudentForm" (ngSubmit)="addStudent(addStudentForm.value)">
  <label>Name</label><input type="text" formControlName="name" required>
  <label>Surname</label> <input type="text" formControlName="surname" required>
  <label>Datebirht</label> <input type="date" formControlName="birthDate" required>
  <button type="submit" class="button"> Add student</button>
</form>
</mat-card>

<mat-card>
  <mat-card-title>
    Student list
  </mat-card-title>
<mat-list >
 <mat-list-item *ngFor="let student of students; let i = index;">
 {{i+1}}. {{student.name}} {{student.surname}} {{student.birthDate | date}} <button mat-icon-button> <mat-icon>delete</mat-icon></button>
 </mat-list-item>
</mat-list>
</mat-card>
